<header>
  <h1>Inspire</h1>
</header>
<div class="welcome">
  <h2>Welcome To Inspire</h2>
</div>
<div class="contain">
  <p> “And now here is my secret, a very simple secret: It is only with the heart that one can see rightly; what is essential is invisible to the eye.” “It has long been an axiom of mine that the little things are infinitely the most important.”</p>
</div>
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
 
<div class="contain">
  <div class="box" *ngFor='let quote of quotes'>
    <blockquote class="blockquote">
      <ul>
        <li appHighlight>{{quote.quoteWords}}</li>
        <app-quote-details [quote]="quote" (isComplete)="deleteQuote($event,i)"></app-quote-details>
      </ul>
     </blockquote>
        <p class= "text-center">Submitted by {{quote.name}} {{quote.completeDate|timeCount}} days ago</p>
  </div>
</div>
