header{
  height: 60px;
  background-color: black;
  color : gold;
}
header > h1{
  text-align: center;
  text-transform: uppercase
}
.box{
  margin-left: 20%;
  background-color: whitesmoke;
  margin-right: 20%
}
.contain{
  background-color: whitesmoke;
  margin-top: 50px;
  width: 50%;
  margin-left: 80px;
}
.contain > p{
  width: 100%;
}
.welcome{
  text-align: center;
}
h2{
  margin-top: 30px;
}
ul{
  list-style-type: none;
}
p{
  font-size: 18px;
}
.button button{
  margin-left: 42%;
  margin-top: 30px;
}
.contain a{
  color: white;
  font-size : 20px;
  text-align: center;
}
